html
    head
        link(rel='stylesheet' href='##ASSETS_HOST##/bundle.css')
    body
        span 哈哈
        .app
        script(src='##ASSETS_HOST##/vendor.js')
        script(src='##ASSETS_HOST##/bundle.js')
        //- ##inject-live-reload##
