html(ng-app='MyAPP')
    head
        link(rel='stylesheet' href='##ASSETS_HOST##/bundle.css')
    body
        .view(ng-view)
        script(src='##ASSETS_HOST##/vendor.js')
        script(src='##ASSETS_HOST##/template.js')
        script(src='##ASSETS_HOST##/bundle.js')
        //- ##inject-live-reload##

